h1{
    text-align: center;
    font-weight: bolder;
    font-size:50px;
    color:rgb(20, 156, 115);
}

h4{
    margin:0px;
    margin-top: 15px ;
    padding:0px;
    font-size:25px;
    color:rgb(20, 156, 115);

}

hr{
    margin:0px;
    padding:0px;
    height:1px;
    background:black;
    /*make larger*/
}

ul{
    
    margin:0px;
    
}

p{
    font-family:sans-serif;
    margin:0px;
    padding:0px;
}

.projects{
    margin:0px;
    margin-top: 20px ;
    padding:0px;
    
}

.skill_grid{
    display :grid;
    grid-template-rows: 20px 20px;
    grid-template-columns: auto auto;
    column-gap: 10px;
    }

.item{
    text-align: left;
    padding:0px;
    font-family:sans-serif;
    font-size: 15px;
}
strong{
    font-size:15px;
}

body{
    max-width:60em;
    margin:auto;
    padding:60px;
    border: solid;
}

li{
    font-family:sans-serif;
}

a{
    color:black;
    font-weight: bold;
}